

.wrapper {
    background-color:gray;
    display: flexbox;
    flex-direction: row;
    flex-wrap: wrap;
}

.p_card {
   /* padding: 2%;
    flex-grow: 1;
    flex-basis: 16%;
  
    display: flex; EQUIVALENT TO BELOW*/
    align-items: stretch;
    flex: 1 1%;
    flex-direction: row;
    gap: 10px 30px;
}

.p_pic {
    align-self: center;
    max-width: 25%;
}

.p_bottom {
    margin-top: auto;
    max-width: 25%;
}

.p_price {   
    font: 1em sans-serif;
    font-weight: 600;
}